.menu__item {
  min-width: 30%;
  height: 240px;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: auto; */
}

.cr-be {
  border: 1px solid black;
  border-radius: 8px;
  height: 50px;
  padding: 15px 15px 5px 15px;
  cursor: pointer;
}
.cr-be:hover {
  background-color: #713624;
  color: #ffffff;
}

.title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}

.subtitle {
  font-weight: lighter;
  font-size: 16px;
  color: #ffffff;
}
